
<html>
<head>
  <title><%= @currency %> to  <%=@base_currency %> rate</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body bgcolor=white>
<div id="currency_div">
  1 <%= @currency %><br>
  costs<br>
  <%= @rate %> <%=@base_currency %>
 </h1>
</div>